
#bg
{
	padding: 5px 5px;
	padding-left: 40px;
	padding-right: 48px;
	padding-top:80px ;
	display: inline-block;
	align-items: center;	
}

#inputimg
{
	display: inline-flex;
	padding-left: 45px;
	padding-left: 50px;

	padding-top: opx;
	
	


}

#gallery img 
{
	
	width: 545px;
}
